.headerBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdownButton {
  margin-top: 3%;
  margin-left: 5%;
}

.createOrgaBtn {
  margin-right: 5%;
  margin-top: 3%;
}

.containerOrganization {
  display: flex;
  flex-direction: column;
}

.groupsContent {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 5%;
  margin-left: 3%;
}

.groups {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.groupeName {
  font-size: 20;
}
